body {
	font: 24px Helvetica;
	background: #ffffff;
}

#main {
	min-height: 800px;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-flow: row;
}

#main > article {
	margin: 4px;
	padding: 5px;
	border: 0px solid ;
	border-radius: 7pt;
	background: #ffffff

	flex: 3 1 60%;
	order: 2;
}

#main > nav {
	margin: 4px;
	padding: 5px;
	border: 0px solid ;
	border-radius: 7pt;
	background: #ffffff

	flex: 1 6 20%;
	order: 1;
}

#main > aside {
	margin: 4px;
	padding: 5px;
	border: 0px solid ;
	border-radius: 7pt;
	background: #ffffff
	flex: 1 6 20%;
	order: 3;
}

header {
	display: block;
	margin: 4px;
	padding: 5px;
	height: 80px;
	border: 0px solid #ff0000;
	border-radius: 7pt;
	background: #E0E0E0;
}

footer{
height:		display: block;
		margin: 4px;
		padding:5px;
		height: 30px;
		border: 0px solid #ff0000;
		border-radius: 7pt;
		background: #E0E0E0; 50px;
}
header li img{
height: 50px;
}
 img {
  opacity: 1.0;
  filter: alpha50);
}

 img:hover {
  opacity: 0.3;
  filter: alpha100);

}
header li {
list-style: none;
display: inline;
}

@media all and (max-width: 640px) {
	#main, #page {
			flex-direction: column;
	}

	#main > article, #main > nav, #main > aside {

			order: 0;
	}

	#main > nav, #main > aside, header, footer {
			min-height: 50px;
			max-height: 50px;
	}
}
